@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/roboto/robotocondensed-regular.eot');
    src: url('fonts/roboto/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/robotocondensed-regular.woff') format('woff'),
    url('fonts/roboto/robotocondensed-regular.ttf') format('truetype'),
    url('fonts/roboto/robotocondensed-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato/lato-regular.eot');
    src: url('fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/lato-regular.woff2') format('woff2'),
    url('fonts/lato/lato-regular.woff') format('woff'),
    url('fonts/lato/lato-regular.ttf') format('truetype'),
    url('fonts/lato/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'system_fontregular';
    src: url('fonts/sf/sfnsdisplay-regular.eot');
    src: url('fonts/sf/sfnsdisplay-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/sf/sfnsdisplay-regular.woff2') format('woff2'),
    url('fonts/sf/sfnsdisplay-regular.woff') format('woff'),
    url('fonts/sf/sfnsdisplay-regular.ttf') format('truetype'),
    url('fonts/sf/sfnsdisplay-regular.svg#system_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;

    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    /*letter-spacing: 0.5px;*/

    height: auto;
    background: #29A2F8;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: -o-linear-gradient(bottom, #29A2F8 0%, #015CAC 100%);
    background-image: -moz-linear-gradient(bottom, #29A2F8 0%, #015CAC 100%);
    background-image: -webkit-linear-gradient(bottom, #29A2F8 0%, #015CAC 100%);
    background-image: -ms-linear-gradient(bottom, #29A2F8 0%, #015CAC 100%);
    background-image: linear-gradient(to bottom, #29A2F8 0%, #015CAC 100%);

    background: #096bbb;
    background: -moz-radial-gradient(center, ellipse cover, #2195ea 0%, #096bbb 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2195ea), color-stop(100%,#096bbb));
    background: -webkit-radial-gradient(center, ellipse cover, #2195ea 0%,#096bbb 100%);
    background: -o-radial-gradient(center, ellipse cover, #2195ea 0%,#096bbb 100%);
    background: -ms-radial-gradient(center, ellipse cover, #2195ea 0%,#096bbb 100%);
    background: radial-gradient(ellipse at center, #2195ea 0%,#096bbb 100%);

    background: #29A2F8 url('../images/bg_mask.png') repeat ;
}
.music{
    background: #a83b87;

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: -o-linear-gradient(bottom, #a83b87 0%, #2f075d 100%);
    background-image: -moz-linear-gradient(bottom, #a83b87 0%, #2f075d 100%);
    background-image: -webkit-linear-gradient(bottom, #a83b87 0%, #2f075d 100%);
    background-image: -ms-linear-gradient(bottom, #a83b87 0%, #2f075d 100%);
    background-image: linear-gradient(to bottom, #a83b87 0%, #2f075d 100%);
}
.madaniyat{
    background: #b60038;

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: -o-linear-gradient(bottom, #b60038 0%, #2B0606  100%);
    background-image: -moz-linear-gradient(bottom, #b60038 0%, #2B0606  100%);
    background-image: -webkit-linear-gradient(bottom, #b60038 0%, #2B0606  100%);
    background-image: -ms-linear-gradient(bottom, #b60038 0%, #2B0606  100%);
    background-image: linear-gradient(to bottom, #b60038 0%, #2B0606  100%);
}
.balastan{
    background: #FF0088;

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: -o-linear-gradient(bottom, #FF0088 0%, #FF803C  100%);
    background-image: -moz-linear-gradient(bottom, #FF0088 0%, #FF803C  100%);
    background-image: -webkit-linear-gradient(bottom, #FF0088 0%, #FF803C  100%);
    background-image: -ms-linear-gradient(bottom, #FF0088 0%, #FF803C  100%);
    background-image: linear-gradient(to bottom, #FF0088 0%, #FF803C  100%);
}
.radios{
    background: #eff3fa;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

iframe{
    border: 0;
}
a{
    color: #237dac;
}
a:hover{
    color: #2D3E4A;
}
a:hover, a:focus{
    text-decoration: none;
}
img{
    width: 100%;
}


/*BOOTSTRAP RESET*/
.modal-backdrop.in{
    opacity: 0.75;
}
.modal-open{
    padding-right: 17px;
}
.modal{
    overflow: hidden;
}
.modal-header{
    border: 0;
    padding: 10px 10px 0;
}
.modal-title{
    border-bottom: 3px solid #F1F4F9;
    padding: 5px 0;

    font-family: 'Roboto', serif;
    font-size: 16px;
    text-transform: uppercase;
}
.modal-body{
    padding: 10px 20px 0;
}
.modal-block{
    padding: 0 5px 10px;
}
.modal-block > div{
    position: relative;
    overflow: hidden;
}
.modal-block .options{
    position: absolute;
    bottom: 0;
    top: auto;

    height: 40px;
    width: 100%;

    background: rgba(0,0,0,0.3);

    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.modal-block:hover .options{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.modal-block .options a{
    float: left;

    color: #ffffff;

    line-height: 40px;
    text-align: center;
}
/*.modal-block .options a i{*/
    /*padding: 5px 15px;*/
/*}*/
.modal-block .options a.link{
    width: 75%;

    background: rgba(0,0,0,0.8);
}
.modal-block .options a.live{
    width: 25%;

    background: #c42026;
}
/*.modal-block .options .divider{*/
    /*position: absolute;*/
    /*bottom: 10px;*/

    /*height: 20px;*/
    /*width: 2px;*/

    /*background: #ffffff;*/
/*}*/
#radioModal .modal-content{
    background: #f1f4f9;
}
#radioModal .close{
    background: #F1F4F9;
}
#radioModal .modal-title{
    border-color: #ffffff;
}
#radioModal .modal-block a{
    display: block;
    height: 120px;
    position: relative;
    overflow: hidden;

    background: #ffffff;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}
#radioModal .modal-block a img{
    position: absolute;
    left: 50%;
    top: 50%;

    height: 100px;
    width: auto;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
#liveModal .modal-dialog{
    width: 660px;
}
#liveModal .modal-content{
    border: 0;
}
a.rtmp {
    display: block;
    width: 640px;
    height: 360px;
    margin: 0 auto;
    text-align: center;
}
a.rtmp img{
    height: 70px;
    margin-top: 145px;
    width: auto;
}


/* Panels */
.panel{
    margin-bottom: 10px;
}
.panel,.panel-heading{
    border: 0;
}
.panel-default > .panel-heading{
    padding: 15px 15px 0;

    background: none;
}
.panel-heading h3{
    border-bottom: 3px solid #F1F4F9;
    padding: 5px 0 5px 2px;

    color: #8493A3;

    font-family: 'PT Sans', serif;
    font-size: 18px;
    text-transform: uppercase;

}
.panel-body{
    padding: 10px;
}
.panel-body footer{
    clear: both;
    padding: 10px;

    text-align: right;
}
.panel-body footer a{
    font-size: 12px;
}
.panel-body footer i{
    padding-left: 5px;
}


.list-group-item{
    border: 0;
}
button.close{
    position: absolute;
    top: 16px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px !important;
    display: block;
    background-color: #FFF;
    opacity: 1;
}
button.close span{
    display: block;
    margin-top: -2px;
}
.text-uppercase{
    text-transform: uppercase;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    max-height: 240px !important;
}

/*GENERAL*/
.main-header{
    background: rgba(0, 0, 0, 0.5);
}
.main-wrapper{
    background: #eff3fa;
}
header{
    height: 65px;
    width: 100%;

    margin-top: 40px;
    margin-bottom: 10px;

    /*background: #29A2F8;*/

    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
}
.ads{
    display: block;
    margin:10px 0;
}
.ads img{
    width: auto;
}
.ads-300x250{
    margin: 0;
}
.top-ads{
    margin: 10px 0 5px;
}
.top-header{
    position: relative;
}
/*LOGO*/
.logo, .form-search, .btn-live{
    vertical-align: middle;
}
.logo{
    position: absolute;

    display: inline-block;
    /*padding-top: 40px;*/
}
/*.logo::after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    box-shadow: 0 0 127px -20px rgba(0, 0, 0, 0.5) inset, 0 1px 14px 1px rgba(0, 0, 0, 0.5);
    z-index: 5;
}*/
.logo img{
    position: relative;

    display: block;
    height: 150px;
    width: auto;

    z-index: 10;
}
.music .logo img, .balastan .logo img{
    height: 100px;
}
.radios .logo img{
    height: 120px;
    padding: 10px;

    background: #ffffff;
}

/* Top Navigation */

.top-nav{
    position: absolute;
    top: -30px;
}
.top-nav li{
    position: relative;
    float: left;
    color: #ffffff;
}
.top-nav li a{
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1em;
}
.dropdown-menu{
    border: 0;
    padding: 10px 0;

    background: #f1f4f9;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu li{
    margin-bottom: 2px;
    width: 100%;
}
.dropdown-menu li a{
    color: #000;
}

/* Main Navigation */
.btn-live{
    border-color: #c42026;
    float: right;
    margin: 15px 15px 0;
    text-transform: uppercase;

    background: #c42026;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-live i{
    margin-right: 5px;
}

.form-search{
    float: right;
    margin-top: 15px;
}
.form-search .form-group{
    margin: 0;
}
.form-search .form-group input{
    border: 0;
    padding-right: 35px;

    background: rgba(0,0,0, 0.3);
    color: #ffffff;
}
.form-search input::-webkit-input-placeholder {color:#ffffff;}
.form-search input::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.form-search input:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.form-search input:-ms-input-placeholder      {color:#ffffff;}
.form-search .btn{
    position: absolute;
    right: 0;

    background: none;

    color: #ffffff;
}
.tv-radio{
    position: relative;

    float: right;
    margin-top: 16px;

    background: rgba(0,0,0, 0.3);
}
.tv-radio a{
    display: inline-block;
    padding: 5px;
    width: 44px;
}
.block-tv{
    margin-right: 5px;
}
.block-radio{
    margin-left: 5px;
}
.block-radio img{
    margin-top: 1px;
}
.tv-radio .divider{

    display: inline-block;
    height: 20px;
    margin-bottom: -6px;
    width: 2px;

    background: #ffffff;
}
.top-left-block, .top-right-block, .bottom-left-block, .bottom-right-block{
    padding: 10px;
}
.top-left-block{
    padding-right: 5px;
}
.top-right-block{
    padding-left: 5px;
}
.tv-channels{
    position: relative;
    display: none;
}
.tv-channels ul{
    left: 130%;

    display: block;
}
.tv-channels ul li{
    display: inline-block;
    float: none;
}

/*Main nav*/
.main-nav{
    float: right;
}
.main-nav ul{
    position: absolute;
    right: 360px;

    height: 45px;
    margin-top: 8px;

    text-align: center;
    opacity: 0;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.main-nav ul.active{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.main-nav li{
    display: inline-block;
    height: inherit;
    margin: 0 5px;
}
.radios_ul li{
    padding: 5px 15px;

    background: #ffffff;
}
.main-nav li img{
    height: 100%;
    width: auto;
    vertical-align: baseline;
}

/*Social*/
.soc{
    position: absolute;
    top: -29px;
    right: 0;
}
.soc li{
    display: inline-block;
    width: 30px;

    margin: 0;
    margin-left: 2px;

    text-align: center;
}
.soc li a{
    display: block;
    padding: 5px;

    background: rgba(0,0,0, 0.3);
    color: #ffffff;

    font-size: 20px;
    line-height: 1;
}
.soc li:hover a{
    background: rgba(0, 0, 0, 0.5);
}

/* TOP LEFT BLOCK */
.top-left-block .block{
    padding: 10px;
    position: relative;
}
.top-left-block .block .news-thumb{
    display: block;
    height: 180px;
    position: relative;
    overflow: hidden;

    background: #3085a3;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.top-left-block .block .news-thumb img{
    position: absolute;
    left: 50%;
    top: 50%;

    height: 180px;
    width: auto;

    opacity: 0.6;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.top-left-block .block .news-thumb h4{
    position: absolute;
    bottom: 0;

    width: 100%;
    margin: 0;
    padding: 5px 8px;

    color: #ffffff;

    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    z-index: 2;
}
.panel-top-news figure{
    position: relative;

    height: 180px;
    overflow: hidden;
    background: #174452;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.panel-top-news figure .main-img img{
    position: absolute;
    left: 50%;
    top: 50%;

    height: 180px;
    width: auto;

    opacity: 0.8;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.panel-top-news figure .main-img img:hover{
    opacity: 1;
}
.panel-top-news figure .main-img i{
    position: absolute;
    left: 0;
    top: 50px;

    padding: 10px;

    background: #46a4da;
    color: #ffffff;

    font-size: 30px;
}
.panel-top-news .news-channel{
    position: absolute;
    right: 5px;
    top: 5px;
}
.panel-top-news .news-channel img{
    height: 30px;
    width: auto;
}
.panel-top-news figcaption{
    position: absolute;
    left: 0;
    width: 100%;
    top: auto;
    bottom: 0;
    background: #fff;

    color: #3c4a50;
}
.panel-top-news figcaption h2{
    width: 100%;
    margin: 0;
    padding: 10px;

    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}
.panel-top-news figcaption h2 a{
    color: #4e5e6a;
}
.panel-top-news figcaption h2:hover a{
    color: #2D3E4A;
}
.panel-top-news figcaption p.icon-links a{
    padding: 0px 3px;

    font-size: 18px;
    line-height: 1;

    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.panel-top-news figure:hover figcaption, .panel-top-news figure:hover figcaption h2, .panel-top-news figure:hover figcaption p.icon-links a{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.panel-top-news figcaption .description{
    position: absolute;
    top: -20px;
    right: 5px;
    padding: 0;
    margin: 0;

    color: #fff;

    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;

    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
}
.panel-top-news figcaption .description a{
    color: #ffffff;
}

.top-left-block .ads{
    margin-top: 0;
}
.top-left-block .all-videos-link{
    display: block;
    text-align: right;
    font-size: 12px;
    padding: 20px 10px 10px;
}
.top-left-block .list-group{
    padding: 0 15px;
}
.top-left-block .news-item{
    border-bottom: 1px solid #d1dee8;
    margin-bottom: 1px;
}
.top-left-block .news-item:last-child{
    border: 0;
}
.top-left-block .all-news .news-body a p{
    font-size: 13px;
    margin-top: 3px;
}
.all-news .q-body a h4{
    font-size: 14px;
}
.top-left-block .news-title{
    margin: 0 0 10px;
    padding: 0 0 10px;

    color: #414a51;

    font-size: 24px;
    font-weight: bold;
}
.top-left-block .news-block img{
    margin: 0 auto;
}
.top-left-block .news-block p{
    font-size: 14px;
    line-height: 1.5;
}


/*Материалы по теме*/
.panel-article aside{
    display: inline;
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 320px;
}
.topics-box{
    border-top: 3px solid #237dac;
    border-left: 2px solid #F1F4F9;
    border-right: 2px solid #F1F4F9;
    border-bottom: 2px solid #F1F4F9;
}
.topics-box h2{
    margin: 0;
    padding-left: 10px;

    background: #F1F4F9;

    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
}
.topics{
    padding: 10px;

    line-height: 20px;
}
.topic{
    overflow: hidden;
    border-bottom: 2px solid #F1F4F9;
    padding-bottom: 14px;
    padding-top: 15px;
}
.topic:first-child{
    padding-top: 0;
}
.topic:last-child{
    padding-bottom: 0;
    border: 0;
}
.t-date{
    margin-bottom: 5px;

    font-size: 12px;
}
.t-date .time{
    margin-right: 5px;

    color: #237dac;

    font-weight: bold;
}
.t-thumb{
    float: left;
    height: 64px;
}
.t-thumb img{
    margin-right: 10px;
    width: auto;
}
.t-info{
    display: inline;
    float: right;
    width: 160px;
}
.t-info h4{
    margin: 0 0 5px;

    font-size: 16px;
    line-height: 1;
}
.t-info .short{
    font-size: 14px;
    line-height: 18px;
}

.panel-title .divider{
    position: relative;
    display: inline-block;
    width: 10px;
    font-size: 6px;
    text-align: center;
}
.panel-title .divider i{
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
}
.panel-title .ctg{
    color: #237dac;
}
.panel-title .ctg:hover{
    color: #2D3E4A;
}
.panel-article .news-video{
    margin: 20px 0;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Panel Articles */

.grid {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.grid li {
    display: block;
    float: left;
    padding: 5px 10px;
    width: 50%;
}
.panel-shows .grid li{
    width: 50%;
}
.grid li a,
.grid li img {
    outline: none;
    border: none;
}

.pin {
    display: inline-block;
    background: #f1f4f9;
    margin: 0 2px 10px;
    padding: 15px;
    padding-bottom: 5px;
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.pin-body{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}
.pin-body .news-title h4{
    margin-top: 0;

    color: #414a51;

    font-weight: bold;
    text-align: center;
}
.pin-body .news-title:hover h4{
    color: #2D3E4A;
}
.pin-body .news-img{
    position: relative;
}
.pin-body .main-img{
    position: relative;

    height: 200px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}
.pin-body .main-img img {
    position: absolute;
    left: 50%;
    top: 50%;

    height: 200px;
    width: auto;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.pin-body .news-img i{
    position: absolute;
    left: 0;
    top: 75px;

    padding: 10px;

    background: #46a4da;
    color: #ffffff;

    font-size: 30px;
}
.pin-body .news-img .news-channel{
    position: absolute;
    right: 5px;
    top: 5px;
}
.pin-body .news-img .news-channel img{
    height: 30px;
    width: auto;

    opacity: 1;
}
.pin-body p {
    margin: 0;
    color: #4A4A4A;
}
.pin-body p .read-more{
    display: inline-block;
}
.pin-footer h4{
    display: inline-block;
}
.pin-footer .news-ctg h4{
    font-size: 12px;
    text-transform: uppercase;
}
.pin-footer a h4{
    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.pin-footer .news-datetime{
    color: #9DA8B0;

    font-size: 12px;
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* TOP RIGHT BLOCK */

.top-right-block .block{
    padding: 10px 5px 6px;
}
.top-right-block .item:nth-child(2){
    padding-right: 5px;
}
.top-right-block .item img{
    width: 100%;
}
.top-right-block .block h4{
    margin: 0;

    color: #4e5e6a;

    font-size: 14px;
    /*font-weight: bold;*/
    line-height: 30px;
    text-align: center;
    /*text-transform: uppercase;*/
}
.top-right-block .sub-heading{
    margin: 0;
    padding-bottom: 9px;

    font-size: 12px;
    /*font-weight: 600;*/
    text-align: center;
    text-transform: uppercase;
}
.top-right-block .archive-link{
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    float: right;
    padding: 5px 5px 10px;
}
.top-right-block .archive-link i{
    padding-right: 5px;
}
.old-videos{
    margin: 0;

    color: #acc0d7;

    font-family: 'PT Sans';
    font-size: 16px;
    text-transform: uppercase;
}
.ctg-panel.affix{
    top: 10px;

    width: 283px;
}
.ctg-panel .panel-body{
    padding: 15px;
}
.ctg-panel .list-group{
    margin: 0;
}
.ctg-panel .list-group-item{
    border-bottom: 1px solid #F1F4F9;
    margin: 0;
    padding: 0;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ctg-panel .list-group-item:last-child{
    border: 0;
}
.ctg-panel .list-group-item:hover{
    padding-left: 10px;

    background: #F1F4F9;
}
.ctg-panel .list-group-item a{
    display: block;
    padding: 5px;

    color: #4e5e6a;

    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.ctg-panel .list-group-item:hover a{
    color: #2D3E4A;
}
/* Carousel */
.panel-carousel{
    margin: 0;
}
.gallery{
    background: rgba(0, 0, 0, 0.3);
}
.gallery .panel-heading h3{
    color: #ffffff;
}
.panel-carousel h4{
    position: relative;

    color: #414a51;

    font-size: 80px;
    line-height: 90px;
    text-align: center;
}
.panel-carousel h4 span{
    position: absolute;
    left: 0;
    bottom: -20px;

    display: block;
    width: 100%;

    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}
.slick-slider{
    margin: 0;
}
.slick-slide{
    position: relative;
    overflow: hidden;

    height: 130px;
    margin: 0 5px;
    padding: 0;

    background: #42b078;
}
.gallery .slick-slide{
    background: none;
}
.slick-slide img{
    position: absolute;
    left: 50%;
    top: 50%;

    height: 130px;
    width: auto;

    opacity: 0.8;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.gallery .slick-slide img{
    min-width: 227px;
}
.gallery .slick-slide span{
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;

    font-size: 14px;
    color: #ffffff;
}
.gallery .slick-slide .overlay{
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 1);

    opacity: 0.3;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.gallery .slick-slide:hover .overlay{
    opacity: 0;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}
.slick-prev:before, .slick-next:before{
    color: #202d3a;
}
.gallery .slick-prev:before, .gallery .slick-next:before{
    color: #ffffff;
}


/*CAROUSEL POST*/
.carousel-post{
    margin-top: 20px;
    padding: 0 30px;
}
.carousel-post .slick-slide{
    display: block;
    height: 400px;


    background: none;
}
.carousel-post .slick-slide img{
    height: 400px;
}
.carousel-post .slick-prev:before, .carousel-post .slick-next:before{
    font-size: 30px;
}
.carousel-post .slick-prev{
    left: 5px;
}
.carousel-post .slick-next{
    right: 5px;
}

/* Panel Related */
.panel-related .block .news-thumb{
    background: #000000;
}
.panel-related .block .news-thumb img{
    opacity: 0.8;
}
.panel-related .block a h4{
    color: #4e5e6a;
    margin-bottom: 0;

    font-family: 'Open Sans', Arial;
    font-size: 14px;
    font-weight: 600;
}

.panel-related .block a:hover h4{
    color: #2D3E4A;
}
/* Bottom Left Block */

.bottom-left-block .latest-news{
    background: #f1f4f9;
}
.latest-news .panel-heading h3{
    border-bottom: 3px solid #ffffff;
}
.latest-news .list-group{
    margin-bottom: 10px;
}
.bottom-left-block .list-group-item{
    margin-bottom: 5px;
    padding: 10px;

    background: #ffffff;
}
.news-body{
    border-bottom: 1px solid #F1F4F9;
}
.news-body .news-title{
    float: left;
    width: 90%;
}
.news-body .ctg{
    float: right;
    width: 10%;
}
.news-body a{
    color: #4e5e6a;
    font-weight: bold;
}
.news-body:hover a{
    color: #2D3E4A;
}
.news-body p{
    margin: 0;
    padding-bottom: 8px;

    font-size: 13px;
}
.news-adds{
    padding-top: 5px;
}
.news-adds a{
    vertical-align: middle;

    color: #237dac;

    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.news-adds a:hover{
    color: #2D3E4A;
}
.news-adds a i{
    padding-right: 3px;
}
.news-time{
    color: #9DA8B0;
    font-size: 11px;
}
.news-file{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;

    font-size: 14px;
    line-height: 15px;
}

/* Slideshow */
#slideshow {
    margin: 0 auto;
    position: relative;
    width: 360px;
    height: 360px;
    padding: 5px;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Videos */
.videoportal{
    background: rgba(0, 0, 0, 0.3);
}
.videoportal .panel-body{
    position: relative;
}
.videoportal .panel-heading h3{
    color: #ffffff;
}
.panel-videos .panel-body, .panel-video .panel-body, .panel-shows .panel-body, .panel-show .panel-body{
    padding: 10px 15px 20px;
}
.videos-block{
    border: 0;
    padding: 15px 0;

    text-align: center;
}
.videos-block li{
    display: inline-block;
    float: none;
}
.videos-block li a{
    border: 0;
    padding: 5px 10px;

    background: #F1F4F9;
    color: #333;
}
.videos-block li.active a, .videos-block li.active a:hover, .videos-block li.active a:focus{
    border: 0;

    background: #237dac;
    color: #ffffff;
}
.panel-videos .tab-content{
    padding: 10px;
}
.panel-video .tab-content{
    padding: 0 10px;
}
.panel-videos .tab-content article{
    display: none;
}
.tab-content article{
    padding: 0 10px;
    margin-bottom: 15px;
}
.tab-content article img{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.tab-content article .img{
    position: relative;

    display: block;
}
.tab-content article .img h4{
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 10px 0 10px 10px;
    width: 100%;

    background: rgba(0,0,0,0.8);
    color: #ffffff;

    font-family: 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.tab-content article .img h4 i{
    padding-right: 10px;
    vertical-align: middle;
    font-size: 20px;
}
.tab-content article .title{
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    width: inherit;
}
.tab-content article .title h4{
    margin: 0;

    color: #2D3E4A;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.tab-content article .title h4:hover{
    color: #4e5e6a;
}
.tab-content article .title{
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    width: inherit;
}
.loadMore{
    display: block;
    margin: 10px auto 0;
    padding: 5px 50px;

    color: #8493A3;

    text-transform: uppercase;
}
.show-title{
    margin: 10px 0;
}
.show-title i{
    display: inline-block;
    vertical-align: middle;

    font-size: 8px;
}
.show-title a{
    display: inline-block;
    vertical-align: middle;

    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}
.show-title span{
    display: inline-block;
    vertical-align: middle;

    font-size: 14px;
    line-height: 24px;
}
.show-video{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Panel Related Videos*/
.panel-related-videos .block{
    display: none;
}
.panel-related-videos .loadMore{
    margin-bottom: 10px;
}
.panel-related-videos .video-thumb{
    position: relative;
    display: block;
}
.panel-related-videos .video-thumb i{
    position: absolute;
    left: 10px;
    bottom: 10px;

    color: #ffffff;

    font-size: 20px;
}
.panel-related-videos img{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.panel-related-videos .video-title{
    display: table-cell;
    height: 70px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: inherit;
}
.panel-related-videos .block h4{
    margin: 0;

    color: #2D3E4A;
    
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.panel-related-videos .block h4:hover{
    color: #4e5e6a;
}

/*Panel shows*/
.top-left-block .show-block{
    padding: 10px 15px;
}
.show-block .media-left a{
    position: relative;
    display: block;
    height: 120px;
    width: 120px;
    overflow: hidden;
}
.show-block .media-left a img{
    position: absolute;
    left: 50%;
    top: 50%;

    height: 120px;
    width: auto;

    opacity: 0.8;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.show-block .show-title{
    margin: 0 0 5px;

    font-weight: bold;
}
.show-block .show-title a{
    font-size: 14px;
}
.show-block .show-desc{
    font-size: 12px;
}
.letters{
    margin: 10px 0;

    text-align: center;
}
.letters li{
    display: inline-block;
}
.letters button{
    padding: 5px 7px;

    font-size: 12px;
}

/*Panel show*/
.panel-show .media-left a{
    height: 200px;
    width: 300px;
}
.panel-show .media-left a img{
    height: 200px;
}

/* Applications panel */
.panel-apps p{
    margin-bottom: 10px;
}
.panel-apps ul{
    padding-left: 20px;
    margin-bottom: 10px;
    list-style-type: disc;
}
.apps-logo a{
    display: block;
    margin: 10px 0;
}
.apps-logo a img{
    height: 60px;
    width: auto;
}
.apps-logo .ios{
    float: left;
}
.apps-logo .android{
    float: right;
}
/*Pagination*/
.pagination{
    margin: 0;
    float: right;
}
.pagination li a{
    border: 0;
    padding: 5px 10px;

    color: #4e5e6a;

    font-size: 12px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.pagination .active a{
    background: #4e5e6a;
}
.pagination li a:hover{
    z-index: 0;
    background: #9DA8B0;
    color: #ffffff;
}
.pagination li a:focus, .pagination .active a:hover, .pagination .active a:focus{
    background: #4e5e6a;
}

/* Анонс */
.roundabout-holder {
    padding: 0;
    margin: 50px auto;
    height: 300px;
    width: 80%;
}

.roundabout-moveable-item {
    position: relative;

    display:block;
    height: 393px;
    overflow: hidden;
    padding: 10px;
    width: 750px;

    background: rgba(0, 0, 0, 0.3);

    cursor: pointer;
}

.roundabout-moveable-item img {
    height: 100%;
    width: 100%;
}

.roundabout-in-focus {
    cursor: auto;
}

/* Footer */
.footer{
}
.footer .panel{
    margin: 0;
    background: none;
}
.footer .panel-body{
    padding: 0 0 20px;
}
/*.footer .container{*/
    /*padding-top: 20px;*/
/*}*/
.footer ul{
    text-align: center;

    background: rgba(0, 0, 0, 0.3);
}
.footer ul li{
    display: inline-block;
    padding: 10px 0;
}
.footer ul li a{
    padding: 0 20px;

    color: #ffffff;

    font-family: 'Roboto Condensed';
    font-size: 16px;
}
.footer .copy{
    padding: 20px 0 0;

    color: #ffffff;

    text-align: center;
}