*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html{
    height: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    height: 100%;
    background-color: $bg-secondary;
    color: $text-primary;
    @include font-open-sans(14);
    line-height: $line-height-base;
}
.wrapper{
    position: relative;
    > .inner{
        position: relative;
        top: 80px;
        @include breakpoint(large){
            top: 150px;
        }
    }
}
