*, *:focus, *:active{
  outline: 0;
}
body{
	font-family: 'Plumb Regular', Arial, sans-serif;
}
.cd-body{
  margin: 0;
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    pointer-events: none;
}
body.overlay::after{
	opacity: 1;
}
a:focus,
a:active,
a:hover {
	outline-width: 0;
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
.transition{
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.img-replace {
	/* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}



/* -------------------------------- 
Header 
-------------------------------- */

header{
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background: #ffffff;
	text-align: center;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	z-index: 10;
}
@media only screen and (min-width: 1200px) {
	header{
		height: 100px;
	}
}

#logo {
	padding-top: 15px;
}
#logo img{
	width: auto;
	height: 50px;
}
@media screen and (min-width: 1200px) {
  	#logo {
	    position: absolute;
	    left: 40px;
	    top: 20px;
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);
  	}
	header{
		height: 120px;
		-webkit-transition: background 0.8s;
		-o-transition: background 0.8s;
		transition: background 0.8s;
	}
	#logo{		
	    padding-top: 0;
	}
  	#logo img{
  		height: 80px;
  	}
}

#cd-hamburger-menu, 
#cd-cart-trigger {
	position: absolute;
	top: 0;
	height: 100%;
}
#cd-hamburger-menu a, 
#cd-cart-trigger a {
	width: 60px;
	height: 100%;

    background-size: 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

#cd-hamburger-menu {
  	left: 0;
}
#cd-hamburger-menu a {
  	background-image: url("img/icons/menu.svg");
}
@media only screen and (min-width: 1200px) {
  	#cd-hamburger-menu {
    	display: none;
  	}
}

#cd-cart-trigger {
  	right: 0;
}
#cd-cart-trigger a {
	background-image: url("img/icons/bag.svg");
}
#cd-cart-trigger a i{
	display: block;
	margin: 0 auto;
	width: 30px;
	line-height: 40px;
}
@media only screen and (min-width: 1200px) {
  	#cd-cart-trigger {
    	/* cart right margin on desktop */
		right: 0;
  	}
  	#cd-cart-trigger a {
	    position: relative;
	    width: 80px;
	    border-left: none;
	    color: #ffffff;
  	}    
}

#main-nav, #cd-cart {
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;
	/* header height */
	padding-top: 80px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	z-index: 9;
}
@media only screen and (min-width: 768px) {
  	#main-nav, #cd-cart {
    	width: 350px;
  	}
}
@media only screen and (min-width: 1200px) {
  	#main-nav, #cd-cart {
    	/* header height has changed */
    	padding-top: 120px;
  	}
}

#main-nav {
	left: -100%;
	background: #FFF;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
}
#main-nav.speed-in {
  	left: 0;
}
#main-nav ul a {
	position: relative;

	border-bottom: 1px solid #e0e6ef;
	display: block;
	height: 50px;
	padding: 0 15px;

	color: #2a363b;
	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 14px;
	line-height: 50px;
	text-transform: uppercase;
}
#main-nav ul .current{
	box-shadow: inset 3px 0 #e84a5f;
}
@media only screen and (min-width: 1200px) {
  	#main-nav {
	    /* reset main nav style */
	    position: absolute;
	    height: auto;
	    width: auto;
	    left: auto;
	    right: 110px;
	    padding-top: 0;
	    top: 0;
	    background: transparent;
	    box-shadow: none;
	    /* header height */
	    line-height: 120px;
	    z-index: 4;
  	}
  	#main-nav li {
    	display: inline-block;
    	margin-left: 15px;
  	}
  	#main-nav ul a {
	    display: inline-block;
	    height: auto;
	    line-height: 20px;
	    padding: 15px 20px;
	    border-bottom: none;
  	}
  	#main-nav ul .current{
  		box-shadow: none;
  	}
	#main-nav ul a::after {
	    position: absolute;
	    bottom: 5px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    width: 40px;
	    height: 3px;
	    background: rgba(0,0,0,0.75);
	    content: '';
	    opacity: 0;
	    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
	    transition: opacity 0.3s, transform 0.3s;
	    -webkit-transform: translateY(5px);
	    -moz-transform: translateY(5px);
	    transform: translateY(5px);
	}
	#main-nav ul a.current::after{
		opacity: 1;
	    -webkit-transform: translateY(0px);
	    -moz-transform: translateY(0px);
	    transform: translateY(0px);
	}
	#main-nav ul a:hover::after,
	#main-nav ul a:focus::after{
	    opacity: 1;
	    -webkit-transform: translateY(0px);
	    -moz-transform: translateY(0px);
	    transform: translateY(0px);
	}
}
.no-js #main-nav {
  	position: fixed;
}

#cd-cart {
	right: -100%;
	background: #FFF;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	transition: right 0.3s;
}
#cd-cart.speed-in {
  	right: 0;
}
#cd-cart > * {
  	padding: 0 15px;
}
#cd-cart h2 {
	margin: 15px 0;
	color: #2a363b;
	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
#cd-cart .cd-cart-items {
  	padding: 0;
}
#cd-cart .cd-cart-items li {
  	border-top: 1px solid #e0e6ef;
  	position: relative;
  	padding: 10px 15px;
  	font-weight: bold;
}
#cd-cart .cd-cart-items li:last-child {
  	border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items img{
	display: none;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
	padding-right: 5px;
  	color: #e84a5f;
}
#cd-cart .cd-price {
  	margin-top: 5px;
  	font-size: 14px;
}
#cd-cart .cd-item-remove {
	position: absolute;
	right: 15px;
	top: 50%;
	bottom: auto;
	
	display: block;
	width: 16px;
	height: 16px;

	border-radius: 50%;
    background: url("img/icons/remove.svg") no-repeat center center;
	color: #2a363b;
	font-size: 12px;
	text-align: center;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.no-touch #cd-cart .cd-item-remove:hover {
  	background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  	padding-top: 20px;
  	padding-bottom: 20px;
}
#cd-cart .cd-cart-total p{
	margin: 0;
	color: #e84a5f;
	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 14px;	
	text-transform: uppercase;
}
#cd-cart .cd-cart-total span {
  	float: right;
}
#cd-cart .cd-cart-total::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}
#cd-cart .checkout-btn {
}
#cd-cart .checkout-btn a{
	display: block;
	width: auto;
	background: #7dcf85;
	color: #ffffff;
	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
}
.no-touch #cd-cart .checkout-btn:hover a{
  	background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  	margin: 1em 0;
  	text-align: center;
}
#cd-cart .cd-go-to-cart a {
  	color: #2a363b;
  	text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  	#cd-cart > * {
    	padding: 0 20px;
  	}
  	#cd-cart .cd-cart-items li {
  		height: 70px;
    	padding: 10px 20px 10px 70px;
  	}
	#cd-cart .cd-cart-items img{
		position: absolute;
		top: 15px;
		left: 20px;

		display: block;
		width: 40px;
		height: auto;
	}
  	#cd-cart .cd-item-remove {
    	right: 20px;
		width: 20px;
		height: 20px;
		-webkit-background-size: 16px;
		background-size: 16px;
  	}
  	#cd-cart h2{  		
  		font-size: 14px;
  	}
  	#cd-cart .cd-cart-total p{
  		font-size: 16px;
  	}
}

/* -------------------------------- 
Shadow Overlay
-------------------------------- */

#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* --------------------------------
xkeyframes
-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* -------------------------------- 
Slider
-------------------------------- */
.hero{
	position: relative;
	overflow: hidden;
}
.hero h1{
	position: absolute;
	color: #ffffff;
	opacity: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
.hd-slider .bp-hs_control .bp-bullets .bp-bullets_bullet{
	margin: 0 5px;
	width: 8px;
	height: 8px;
}
.hd-slider .bp-hs_control .bp-bullets .bp-bullets_bullet.current{
	background: #e84a5f;
}
.hd-slider .bp-hs_control .bp-btn{
	background: none;
	width: auto;
	padding: 0;
	z-index: 3;
}
.hd-slider i{
	color: #ffffff;
	font-size: 24px;
}
.hd-slider i:hover{
	color: #2a363b;
}
.hd-slider .bp-hs_control .bp-btn.bp-hs_control__prev{
	left: 10px;
}
.hd-slider .bp-hs_control .bp-btn.bp-hs_control__next{
	right: 10px;
}
.hd-slider img{
	height: auto;
}
@media screen and (min-width:768px){
	.hero h1{
		bottom: 40px;
		left: 0;
		opacity: 1;
		padding: 0 100px;
		font-size: 32px;	
		font-family: 'Plumb Bold', Arial, sans-serif;
		line-height: 40px;
	}
	.hd-slider .bp-hs_control .bp-bullets{
		bottom: 10px;
		height: 20px;
	}
	.hd-slider .bp-hs_control .bp-btn.bp-hs_control__prev{
		left: 14px;
	}
	.hd-slider .bp-hs_control .bp-btn.bp-hs_control__next{
		right: 14px;
	}
	.hd-slider .bp-hs_control .bp-bullets .bp-bullets_bullet{
		width: 12px;
		height: 12px;
	}
	.hd-slider i{
		font-size: 32px;
	}
}
@media screen and (min-width: 1200px){
	.hd-slider{
		height: 600px !important;
		overflow: hidden;	
	}
	.hero h1{
		bottom: 80px;
		left: 0;
		right: 0;

		width: 64%;
		margin: auto;
		padding: 0;

		font-size: 36px;
		line-height: 60px;
	}
	.hd-slider .bp-hs_control .bp-bullets{
		bottom: 30px;
	}
	.hd-slider .bp-hs_control .bp-bullets .bp-bullets_bullet{
		width: 16px;
		height: 16px;
	}
}
@media screen and (min-width: 1400px){
	.hd-slider{
		height: 800px !important;
	}
}

/* -------------------------------- 
Content
-------------------------------- */
.content{
	padding-top: 80px;
}
.content h2{
	margin: 20px 0;
	color: #2a363b;
	font-family: 'Proxima Nova Bold', Arial, sans-serif;
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;
}
.content .middle-heading{
	margin-top: 5px;
}
.content .show-more{
	text-align: center;
}
.content .show-more a{
	display: inline-block;
	margin: 10px auto 30px;
	padding: 10px 25px;
	background: #2a363b;
	color: #ffffff;
	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
	.content h2{
		margin: 40px 0;
		font-size: 24px;
	}
	.content .middle-heading{
		margin-top: 10px;
	}
}
@media screen and (min-width: 1200px){
	.content{
		padding-top: 120px;
	}
}


/* -------------------------------- 
Pluses
-------------------------------- */
.pluses{
	margin-top: 50px;
}
.pluses{
	text-align: center;
}
.plus{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
	width: 100%;
}
.plus .media-left{
	padding-right: 15px;
}
.plus .media-object{
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.plus p{
	margin: 0;	
	font-family: 'Plumb Bold', Arial, sans-serif;
	text-transform: uppercase;
	text-align: left;
}
.plus:first-child .media-object{
	background-image: url('img/icons/shipment.svg');
}
.plus:nth-child(2) .media-object{
	background-image: url('img/icons/fitting.svg');
}
.plus:nth-child(3) .media-object{
	background-image: url('img/icons/cash.svg');
}
@media screen and (min-width:768px){
	.plus{
		width: 220px;
	}
}
@media screen and (min-width:1024px){
	.plus{
		width: 300px;
		margin: 0 10px;
	}
	.plus .media-object{
		width: 64px;
		height: 64px;
	}
}

/* -------------------------------- 
Catalog
-------------------------------- */
.pd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.pd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#pd-gallery-items > li {
  position: relative;
  margin-bottom: 80px;
}
#pd-gallery-items > li img {
  width: 100%;
  display: block;
}

.pd-item-wrapper {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: 50% -30%;
  -moz-perspective-origin: 50% -30%;
  perspective-origin: 50% -30%;
}
.pd-item-wrapper li {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #ffffff;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.pd-item-wrapper li.pd-item-front {
  position: relative;
  z-index: 3;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.pd-item-wrapper li.pd-item-middle {
  z-index: 2;
}
.active .pd-item-wrapper li.pd-item-middle {
  /* 3D effect on touch devices */
  -webkit-transform: translate3d(0, 0, -20px);
  -moz-transform: translate3d(0, 0, -20px);
  -ms-transform: translate3d(0, 0, -20px);
  -o-transform: translate3d(0, 0, -20px);
  transform: translate3d(0, 0, -20px);
  opacity: .8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.pd-item-wrapper li.pd-item-back {
  z-index: 1;
}
.active .pd-item-wrapper li.pd-item-back {
  /* 3D effect on touch devices */
  -webkit-transform: translate3d(0, 0, -40px);
  -moz-transform: translate3d(0, 0, -40px);
  -ms-transform: translate3d(0, 0, -40px);
  -o-transform: translate3d(0, 0, -40px);
  transform: translate3d(0, 0, -40px);
  opacity: .4;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.pd-item-wrapper li.pd-item-out {
  /* picture not visible - use this class in case you have more than 3 pictures per item */
  z-index: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, -60px);
  -moz-transform: translate3d(0, 0, -60px);
  -ms-transform: translate3d(0, 0, -60px);
  -o-transform: translate3d(0, 0, -60px);
  transform: translate3d(0, 0, -60px);
}
.pd-item-wrapper li.move-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  opacity: 0;
  z-index: 4 !important;
}
.pd-item-wrapper li.hidden {
  /* used to hide the picture once it's pushed out - to the right */
  display: none !important;
}
.no-csstransitions .pd-item-wrapper li.pd-item-middle, .no-csstransitions .pd-item-wrapper li.pd-item-back {
  /* 3D effect not visible on browsers that don't support transitions */
  display: none;
}
@media screen and (min-width: 768px){
  	#pd-gallery-items > li {
    	width: 48%;
    	float: left;
    	margin-bottom: 95px;
    	margin-right: 4%;
  	}
  	#pd-gallery-items > li:nth-child(2n) {
    	margin-right: 0;
  	}
}
@media screen and (min-width: 1024px){
  	#pd-gallery-items > li {
    	width: 31%;
    	float: left;
    	margin-bottom: 0;
    	margin-right: 3.5%;
  	}
  	#pd-gallery-items > li:nth-child(2n) {
    	margin-right: 3.5%;
  	}
  	#pd-gallery-items > li:nth-child(3n) {
    	margin-right: 0;
  	}
  	.pop-items{
		margin-left: -15px;
		margin-right: -15px;
	}
  	.pop-items #pd-gallery-items > li {
    	width: 25%;
    	display: block;
    	float: left;
    	margin: 0;
    	padding: 0 15px;
  	}
  	.grid-item-inner{  	
  		position: relative;	
    	margin-bottom: 95px;
  	}
  	.pop-items #pd-gallery-items > li:first-child,
  	.pop-items #pd-gallery-items > li:nth-child(4) {
    	margin-left: 0;
  	}
  	.pop-items #pd-gallery-items > li:nth-child(2) {
    	margin-right: 0%;
  	}
  	.pop-items #pd-gallery-items > li:nth-child(3),
  	.pop-items #pd-gallery-items > li:nth-child(4){
  		width: 50%;
  	}
  	.pop-items #pd-gallery-items > li:nth-child(3) {
    	margin-right: 0;
  	}
}
@media screen and (min-width: 1200px){
	.pop-items{
		margin-left: -15px;
		margin-right: -15px;
	}
  	.pop-items #pd-gallery-items > li {
    	width: 25%;
    	display: block;
    	float: left;
    	margin: 0;
    	padding: 0 15px;
  	}
  	.grid-item-inner{  	
  		position: relative;	
    	margin-bottom: 95px;
  	}
  	.pop-items #pd-gallery-items > li:first-child,
  	.pop-items #pd-gallery-items > li:nth-child(4) {
    	margin-left: 0;
  	}
  	.pop-items #pd-gallery-items > li:nth-child(2) {
    	margin-right: 0%;
  	}
  	.pop-items #pd-gallery-items > li:nth-child(3),
  	.pop-items #pd-gallery-items > li:nth-child(4){
  		width: 50%;
  	}
  	.pop-items #pd-gallery-items > li:nth-child(3) {
    	margin-right: 0;
  	}
}

.pd-item-info {
	position: absolute;
  	width: 100%;
  	/*height: 120px;*/
  	background-color: #f2f2f2;
  	padding: 10px;
  	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.pd-item-info:after {
  content: "";
  display: table;
  clear: both;
}
.pd-item-info .primary{
	margin-bottom: 10px;
}
.pd-size{
	float: left;
	padding: 12px 0;
}
.pd-add-to-cart{
	float: right;
}
.pd-size .radio{
	margin: 0;
	text-align: left;
}
.pd-size .radio-item{
	display: inline-block;
	vertical-align: middle;
}
.pd-size .radio-item p{
	margin: 0 15px 0 0;
	color: #2a363b;
	font-size: 16px;
	font-weight: bold;
}
.pd-size label,
.pd-size label::before,
.pd-size label::after{
	width: 24px;
	height: 24px;
	line-height: 24px;
}
.pd-size label{
    position: relative;
    display: block;
    padding-left: 24px;
    margin-right: 12px;

    cursor: pointer;
    font-size: 13px;
}
.pd-size label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
	border-radius: 14px;
    background-color: #2a363b;

    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.pd-size label::after{	
	content: attr(data-size);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	color: #ffffff;
    font-size: 12px;
	text-align: center;
}

.pd-size input[type=radio]:checked + label::before {
	background: #e84a5f;
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
.pd-size input[type=radio] {
    display: none;
}
.pd-size span{
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin: 0 5px;

	border-radius: 14px;
	background: #2a363b;
	color: #ffffff;

	font-size: 12px;
	line-height: 28px;
	text-transform: uppercase;
}
.pd-size span:first-child{
	margin-left: 0;
}
.pd-size span:last-child{
	margin-right: 0;
}
.pd-add-to-cart button{
	display: inline-block;
	border: none;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background: url('img/icons/add-to-cart.svg') no-repeat center center;
	-webkit-background-size: 36px auto;
	background-size: 36px auto;
	color: #ffffff;
	font-size: 24px;
	line-height: 48px;
	opacity: 1;
}
.pd-add-to-cart button:hover{
	opacity: 0.75;
}
.pd-add-to-cart button i{
	display: block;
	line-height: 48px;
}
.pd-item-info a {
	display: block;
	color: #2a363b;
	font-size: 16px;
	text-align: center;
}
.pd-item-info b,
.pd-item-info em{
	display: block;
	line-height: 20px;
}
.pd-item-info b {
  	/*float: left;*/
  	margin-bottom: 5px;
}
.pd-item-info a:hover b{
	text-decoration: underline;
}
.pd-item-info em {
	/*float: right;*/
	color: #e84a5f;
	font-family: 'Plumb Bold', Arial, sans-serif;
}

.pd-item-navigation a {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 36px;
	height: 66px;
	background-color: rgba(216, 216, 216, 0.4);
	background-image: url("img/icon-arrow.svg");
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 4;
	display: none;
	border-radius: 0.25em;
}
.no-touch .pd-item-navigation a:hover {
  	background-color: rgba(216, 216, 216, 0.6);
}
.pd-item-navigation a.visible {
	display: block;
	-webkit-animation: pd-fade-in 0.4s;
	-moz-animation: pd-fade-in 0.4s;
	animation: pd-fade-in 0.4s;
}
.pd-item-navigation li:nth-child(1) a {
	left: 14px;
	-webkit-transform: translateY(-50%) rotate(180deg);
	-moz-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	-o-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}
.pd-item-navigation li:nth-child(2) a {
  	right: 14px;
}
.no-csstransitions .pd-item-navigation {
  	display: none;
}

@-webkit-keyframes pd-fade-in {
  	0% {
    	opacity: 0;
  	}

  	100% {
    	opacity: 1;
  	}
}
@-moz-keyframes pd-fade-in {
  	0% {
    	opacity: 0;
  	}

  	100% {
    	opacity: 1;
  	}
}
@keyframes pd-fade-in {
  	0% {
    	opacity: 0;
  	}

  	100% {
    	opacity: 1;
  	}
}
.pd-3d-trigger {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 44px;
	height: 44px;
	background: url("img/icon-3d.svg") no-repeat center center;
	z-index: 4;
}
.no-touch .pd-3d-trigger {
  	display: none;
}

.no-touch #pd-gallery-items > li:hover .pd-item-middle, .no-touch #pd-gallery-items > li:hover .pd-item-back {
  	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.no-touch #pd-gallery-items > li:hover .pd-item-middle {
	/* 3D effect on no-touch devices */
	-webkit-transform: translate3d(0, 0, -20px);
	-moz-transform: translate3d(0, 0, -20px);
	-ms-transform: translate3d(0, 0, -20px);
	-o-transform: translate3d(0, 0, -20px);
	transform: translate3d(0, 0, -20px);
	opacity: .8;
}
.no-touch #pd-gallery-items > li:hover .pd-item-back {
	/* 3D effect on no-touch devices */
	-webkit-transform: translate3d(0, 0, -40px);
	-moz-transform: translate3d(0, 0, -40px);
	-ms-transform: translate3d(0, 0, -40px);
	-o-transform: translate3d(0, 0, -40px);
	transform: translate3d(0, 0, -40px);
	opacity: .4;
}


/* -------------------------------- 

Product Page

-------------------------------- */
.pd-header{
	height: 500px;
}
.pd-hero{
	position: relative;
	height: 500px;
	overflow: hidden;
}
.pd-header h1{
	bottom: 70px;
	font-size: 32px;
}
.pd-hero img{
	position: absolute;
	left: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.pd-panel-left{
	padding: 30px;	
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.pd-panel-left img{
	width: 100%;
}
.pd-panel-left .slider-nav{
	margin-top: 30px;
}
.pd-panel-left .slider-nav .slick-slide{
	border: 1px solid #ffffff;
	margin: 0 10px;
}
.pd-panel-left .slider-nav .slick-slide.slick-current{
	border-color: #2a363b;
}
.pd-panel-left .slick-slide:focus,
.pd-panel-left .slick-slide:active{
	outline: none;
}
.pd-panel-left .slider-nav img{
	width: 100%;
	height: auto;
}
.pd-nav{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 36px;
	height: 66px;
	background-color: rgba(216, 216, 216, 0.4);
	background-image: url("img/icon-arrow.svg");
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 4;
	display: none;
	border-radius: 0.25em;
	cursor: pointer;
	opacity: 0;

	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}
.pd-nav.visible{
	opacity: 1;
}
.pd-nav:hover {
  background-color: rgba(216, 216, 216, 0.6);
}
.pd-nav:nth-child(1) {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.pd-nav:nth-child(3) {
  right: 0;
}

/*Product Panel Right*/
.pd-panel-right{
	padding: 0 30px;
}
.pd-title{	
	margin: 30px 0;
}
.pd-title h4{
	margin: 0;
	color: #e84a5f;
	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
}
.pd-title p{
	color: #a1a1a1;
	font-size: 14px;
}
.pd-title p span{
	font-family: 'Plumb Bold', Arial, sans-serif;
	text-transform: uppercase;
}
.pd-desc{
	color: #2a363b;
}
.pd-desc ul{
	margin-bottom: 30px;
}
.pd-desc li{
	margin-bottom: 5px;
}
.pd-desc p{
	margin-bottom: 30px;
	font-weight: bold;
}
.pd-desc p a{
	color: #2a363b;
	text-decoration: underline;
}
.pd-panel .pd-size{
	float: none;
	display: block;
	margin-bottom: 30px;
}
.pd-panel .pd-add-to-cart{
	display: block;
	float: none;
}
.pd-panel .pd-add-to-cart > *{
	display: inline-block;
	vertical-align: middle;
}
.pd-price{
	margin-left: 30px;
	color: #e84a5f;
	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 24px;
}


/* -------------------------------- 

Popular products

-------------------------------- */
.content .pd-popular{
	color: #a1a1a1;
}


/* -------------------------------- 

Cart

-------------------------------- */
.cd-panel{
  padding: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.cd-panel .table{
  margin: 0;
}
.cd-panel .table thead{
  color: #2a363b;
  font-family: 'Plumb Bold', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.cd-panel .table thead tr{
  border-bottom: 2px solid #2a363b;
}
.cd-panel .table td{
  padding: 5px 10px;
  vertical-align: middle;
}
.cd-panel .table thead td{
  padding-bottom: 20px;
}
.cd-panel .table td:first-child{
  width: 35%;
}
.cd-panel .table td:nth-child(2){
  width: 25%;
}
.cd-panel .table td:nth-child(3){
  width: 15%;
}
.cd-panel .table td:nth-child(4){
  width: 10%;
}
.cd-panel .table td:last-child{
  width: 15%;
}
.cd-panel .table tbody tr td{
  border-bottom: 1px solid #a1a1a1;
}
.cd-panel .table tbody tr:first-child td{
  padding-top: 30px;
}
.cd-panel .table tbody tr:last-child td{
  padding-bottom: 30px;
  border-bottom-color: #2a363b;
}
.cd-panel .table tfoot td{
  border: none;
  padding: 30px 10px;
  color: #2a363b;
  font-family: 'Plumb Bold', Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.cd-panel .table tfoot .cd-total{
  color: #a1a1a1;
}
.cd-product{
  color: #e84a5f;
  font-family: 'Plumb Bold', Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.cd-product span,
.cd-product img{
  display: inline-block;
  vertical-align: middle;
}
.cd-product img{
  width: 70px;
  margin-right: 15px;
}
.cd-price, .cd-sum{
  font-family: 'Plumb Bold', Arial, sans-serif;
  font-size: 16px;
}
.cd-price{
  color: #2a363b;
}
.cd-sum{
  color: #e84a5f;
}
.cd-count > *{
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.cd-count input{
  border: none;
  padding: 0;
  width: 24px;
  border-radius: 12px;
  background: #e84a5f;
  color: #ffffff;
  font-family: 'Plumb Bold', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}
.cd-count a{
  color: #2a363b;
  font-family: 'Plumb Bold', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.cd-count .cd-count-decr{
  padding-right: 10px;
}
.cd-count .cd-count-incr{
  padding-left: 10px;
}
.cd-actions{
  text-align: right;
}
.cd-actions > *{
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.cd-actions .continue,
.cd-actions .take-order{ 
  font-family: 'Plumb Bold', Arial, sans-serif;
  font-size: 14px;
}
.cd-actions .continue{
  color: #2a363b;
  text-decoration: underline;
}
.cd-actions span{
  margin: 0 15px;
  color: #a1a1a1;
}
.cd-actions .take-order{
  display: inline-block;
  padding: 10px 15px;
  background: #e84a5f;
  color: #ffffff;

  text-transform: uppercase;
}
.cd-actions .continue:hover,
.cd-actions .take-order:hover{
  opacity: 0.75;
}


/* -------------------------------- 

Footer

-------------------------------- */
.footer{
	border-top: 3px solid #2a363b;
}
.cd-body .footer{
  margin: 0;
}
.footer .container > .row{
	padding: 20px 0;
}
.footer li,
.footer .logo,
.footer .copyright{
	padding: 10px 0;
}
.footer li a,
.footer .copyright{
	color: #2a363b;
}
.footer ul{
	margin: 0;
	text-align: center;
}
.footer li{
	display: inline-block;
	vertical-align: middle;
}
.footer li a{
	display: block;
	padding: 0 15px;
  	font-family: 'Plumb Bold', Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}
.footer li a:hover{
	text-decoration: underline;
}
.footer li:first-child a{
	padding-left: 0;
}
.footer li:last-child a{
	padding-right: 0;
}
.footer .logo{
	display: block;
	text-align: center;
}
.footer .logo img{
	height: 80px;
}
.footer .copyright{
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
@media screen and (min-width: 1024px){
	.footer ul{
		padding: 30px 0;
	}
	.footer .copyright{
		font-size: 14px;
		padding: 40px 0;
	}
}