html{
    background: #cfd8dc;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas{
    width: 400px;
    height: 500px;
    background: #a7ffeb;
}

header{
    width: 100%;
    height: 100px;

    background: #00bfa5;
}