@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
    min-width: 100%;
    min-height: 100%;
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: color 0.2s ease;
}


/*_____________

HEADER
____________*/

header {
    text-align: center;
}

header a {
    display: inline-block;
    padding: 48px 0;
}

header img {
    height: 32px;
}

header span {
    display: block;
}


/*_____________

SOCIAL ICONS
____________*/

.social {
    list-style-type: none;
    text-align: center;
    margin-bottom: 32px;
}

.social li {
    display: inline-block;
    vertical-align: middle;
}

.social li a {
    padding: 0 16px;
    color: #ff4c67;
    font-size: 18px;
}

.social li a,
.social li > i {
    display: inline-block;
    vertical-align: middle;
}


/**** TOOLTIP ****/

.tooltip {
    opacity: 1;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #cbd8f3;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #cbd8f3;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #cbd8f3;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #cbd8f3;
}

.tooltip-inner {
    color: #3b6cde;
    background-color: #cbd8f3;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}


/*_____________

CONTENT
____________*/

section {
    margin: 0 auto;
    padding-bottom: 64px;
    width: 90%;
    max-width: 780px;
    border-bottom: 1px solid #cacaca;
}


/**** POST BOX ****/

.post {
    margin-bottom: 96px;
}

/* POST THUMB */
.post figure{
    position: relative;
}
.post figure .thumb {
    position: relative;
    overflow: hidden;
    height: 480px;
}
.post figure img {
    top: 50%;
    position: absolute;
    width: 100%;
    height: auto;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* POST BODY */
.post figcaption {
    position: absolute;
    bottom: -32px;
    height: 150px;
    padding: 16px 32px;

    -moz-box-shadow: rgba(0,0,0,0.17) 0 4px 16px 0;
    -webkit-box-shadow: rgba(0,0,0,0.17) 0 4px 16px 0;
    box-shadow: rgba(0,0,0,0.17) 0 4px 16px 0;

    background: #ffffff;

    text-align: center;
}
.post-left figcaption {
    left: 0;
    right: 240px;
}
.post-right figcaption {
    left: 64px;
    right: 64px;
}

.tags,
.date{
    display: inline-block;
    font-family: 'AvenirNextW1G-Medium', serif;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
}
.tags {
    margin-right: 16px;
}
.tags a{
    position: relative;
    padding-right: 16px;
    margin-right: 4px;
    color: #ff4c67;
    letter-spacing: 1px;
}
.tags a:hover,
.tags a:focus,
.tags a:active {
    color: #FF8392;
    text-decoration: underline;
}
.tags a::after{
    position: absolute;
    top: 50%;
    content: '';
    margin-left: 8px;
    width: 4px;
    height: 4px;
    background: #ff4c67;
    line-height: 20px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.tags a:last-child::after{
    display: none;
}
.date{
    color: #a8a8a8;
}


.post .title {
    color: #3b6cde;
    margin: 16px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.post .title a {
    color: #3b6cde;
}

.post .title a:hover,
.post .title a:focus,
.post .title a:active {
    color: #7c99d6;
}

.post .content {
    margin-bottom: 20px;
    color: #7c99d6;
}

.post .more {
    display: inline-block;
    /*padding: 10px 15px;*/
    color: #ff4c67;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-radius: 18px;
    /*background: #ff4c67;*/
    /*background: rgba(60,109,222,1);*/
    /*background: -moz-linear-gradient(left, rgba(60,109,222,1) 0%, rgba(109,153,255,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,109,222,1)), color-stop(100%, rgba(109,153,255,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(60,109,222,1) 0%, rgba(109,153,255,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(60,109,222,1) 0%, rgba(109,153,255,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(60,109,222,1) 0%, rgba(109,153,255,1) 100%);*/
    /*background: linear-gradient(to right, rgba(60,109,222,1) 0%, rgba(109,153,255,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c6dde', endColorstr='#6d99ff', GradientType=1 );*/
}

.post .more:hover,
.post .more:focus,
.post .more:active {
    color: #FF8392;
}


.load-more{
    text-align: center;
}
.load-more button{
    color: #ff4c67;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.load-more button:hover,
.load-more button:focus,
.load-more button:active {
    color: #FF8392;
}


/*ARTICLE*/
.post.article{
    margin-bottom: 15px;
}
.post.article .panel {
    border: none;
    margin: 0;
}

.post.article .panel-heading .inner {
    border-bottom: 1px solid #e7efff;
}

.post.article .title {
    margin-top: 10px;
}

.post.article .extra {
    text-align: center;
    margin-bottom: 10px;
}

.post.article .date,
.post.article .tags {
    display: inline-block;
    vertical-align: middle;
}

.post.article .date {
    margin: 0;
    margin-right: 20px;
}

.post.article .extra i.fa {
    display: inline-block;
    font-size: 12px;
}

.post.article .extra,
.post.article .tags a {
    color: #FF8392;
    font-size: 12px;
    font-weight: bold;
}

div.prism-show-language > div.prism-show-language-label {
    top: 15px;
    right: 5px;
    padding: 5px 10px;
    background: #ffffff;
    color: #7c99d6;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
}
pre[class*="language-"]{
    margin: 10px 0;
}
code[class*="language-"],
pre[class*="language-"] {
    border: none;
    background: #edf3ff;
}


/*_____________

FOOTER
____________*/
.sponsor{
    padding: 32px 0;
}
.sponsor p{
    display: table;
    margin: 0 auto;
    color: #a8a8a8;
    line-height: 25px;
}
.sponsor p > *{
    display: table-cell;
    vertical-align: middle;

    font-family: 'AvenirNextW1G-Medium', serif;
    font-size: 10px;
    text-transform: uppercase;
}
.sponsor p a{
    padding-left: 10px;
}
.sponsor img{
    float: left;
    height: 25px;
    width: auto;
}


/*_____________

MEDIA QUERIES
____________*/

@media screen and (max-width: 700px) {}