#menu {
    width: 96px;
    height: 96px;
    cursor: pointer;
}

#menu path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 20px;
    stroke: #fff;
    stroke-dashoffset: 0px;
}

svg#menu path#top,
svg#menu path#bottom {
    stroke-dasharray: 240px 950px;
}

svg#menu path#middle {
    stroke-dasharray: 240px 240px;
}

svg#menu.cross path#top,
svg#menu.cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
}

svg#menu.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
}
