@mixin font-montserrat-regular($font-size: false){
    font-family: $montserrat;
    @if $font-size {
        font-size: $font-size + px;
    }
}
@mixin font-montserrat-medium($font-size: false){
    font-family: $montserrat;
    font-weight: 500;
    @if $font-size {
        font-size: $font-size + px;
    }
}
@mixin font-montserrat-bold($font-size: false){
    font-family: $montserrat;
    font-weight: 700;
    @if $font-size {
        font-size: $font-size + px;
    }
}
@mixin font-montserrat-black($font-size: false){
    font-family: $montserrat;
    font-weight: 900;
    @if $font-size {
        font-size: $font-size + px;
    }
}
@mixin font-open-sans($font-size: false){
    font-family: $open-sans;
    @if $font-size {
        font-size: $font-size + px;
    }
}
@mixin link-hover(){
    @include transition(all 0.2s ease);
    &:hover,&:focus{
        color: $blue;
    }
}