/* --------------------------------

NAVIGATION

-------------------------------- */
.us-nav {
    position: fixed;
    z-index: 99;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: auto;
    cursor: pointer;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-radius: 0.25em;
    background-color: rgba(234, 242, 227, 0.9);
}
.us-nav li > span {
    display: block;
    padding: 1em;
    color: #3a2c41;
    font-family: 'system_fontregular','Open Sans',Arial, sans-serifs;
    font-weight: bold;
    border-bottom: 1px solid rgba(58, 44, 65, 0.1);
}
.us-nav li.active > span {
    color: #c0a672;
}
.us-vertical-nav.open {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-overflow-scrolling: touch;
}
.us-vertical-nav.open + .us-nav-trigger {
    background-color: transparent;
}
.us-vertical-nav.open + .us-nav-trigger span {
    background-color: rgba(58, 44, 65, 0);
}
.us-vertical-nav.open + .us-nav-trigger span::before, .us-vertical-nav.open + .us-nav-trigger span::after {
    /* transform dots in 'X' icon */
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
}
.us-vertical-nav.open + .us-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
}
.us-vertical-nav.open + .us-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
}
@media only screen and (min-width: 800px) {
    .us-nav {
        /* reset style */
        right: 0;
        top: 0;
        bottom: auto;
        height: 100vh;
        width: 90px;
        max-width: none;
        max-height: none;
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: transparent;
        /* vertically align its content*/
        display: table;
    }
    .us-nav::before {
        /* this is the navigation background */
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        transition: transform 0.4s, -webkit-transform 0.4s;
    }
    .no-touch .us-nav:hover::before,
    .touch .us-nav::before {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .us-nav ul {
        /* vertically align <ul> inside <nav>*/
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
    }
    .us-nav li > span {
        position: relative;
        padding: 40px 0 0;
        margin: 1.4em auto;
        border-bottom: none;
        font-size: 1.2rem;
        line-height: 2rem;
        text-transform: uppercase;
        color: #2c3e51;
    }
    .us-nav li.active > span {
        color: #2c3e51;
    }
    .us-nav li > span::before,
    .us-nav li > span::after {
        /* used to create the filled circle and the background icon */
        content: '';
        position: absolute;
        left: 50%;
        /* Force Hardware Acceleration */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .us-nav li > span::before {
        top: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #d9e3f8;
        -webkit-transform: translateX(-50%) scale(0.25);
        transform: translateX(-50%) scale(0.25);
        transition: background-color 0.2s, -webkit-transform 0.4s;
        transition: transform 0.4s, background-color 0.2s;
        transition: transform 0.4s, background-color 0.2s, -webkit-transform 0.4s;
    }
    .us-nav li > span::after {
        /* icon */
        opacity: 0;
        top: 8px;
        height: 24px;
        width: 24px;
        background: url(../img/icons/sprite.png) no-repeat;
        -webkit-transform: translateX(-50%) scale(0);
        transform: translateX(-50%) scale(0);
        transition: opacity 0.1s 0.3s, -webkit-transform 0.4s 0s;
        transition: transform 0.4s 0s, opacity 0.1s 0.3s;
        transition: transform 0.4s 0s, opacity 0.1s 0.3s, -webkit-transform 0.4s 0s;
    }
    .us-nav li.active > span::before,
    .us-nav li > span:hover::before {
        background-color: #5482ee;
    }
    /*.active-slide-2 .us-nav li.active > span::before,*/
    /*.active-slide-2 .us-nav li > span:hover::before {*/
        /*background-color: #99b8ff;*/
    /*}*/
    .us-nav li:first-of-type > span::after {
        /* change icon using image sprites */
        background-position: 0px -24px;
        /* fix bug with transitions - set scale(0.01) rather than scale(0) */
        -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.01);
        transform: translateX(-50%) translateY(4.5em) scale(0.01);
    }
    .us-nav li:first-of-type > span::before {
        -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.25);
        transform: translateX(-50%) translateY(4.5em) scale(0.25);
    }
    .us-nav li:nth-of-type(2) > span::after {
        background-position: -24px -24px;
        -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.01);
        transform: translateX(-50%) translateY(1.5em) scale(0.01);
    }
    .us-nav li:nth-of-type(2) > span::before {
        -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.25);
        transform: translateX(-50%) translateY(1.5em) scale(0.25);
    }
    .us-nav li:nth-of-type(3) > span::after {
        background-position: -48px -24px;
        -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
        transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    }
    .us-nav li:nth-of-type(3) > span::before {
        -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
        transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    }
    .us-nav li:nth-of-type(4) > span::after {
        background-position: -168px -24px;
        -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
        transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    }
    .us-nav li:nth-of-type(4) > span::before {
        -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
        transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    }
    .us-nav li:nth-of-type(5) > span::after {
        background-position: -72px -24px;
        -webkit-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
        transform: translateX(-50%) translateY(-7.5em) scale(0.01);
    }
    .us-nav li:nth-of-type(5) > span::before {
        -webkit-transform: translateX(-50%) translateY(-7.5em) scale(0.25);
        transform: translateX(-50%) translateY(-7.5em) scale(0.25);
    }
    .us-nav li span span {
        display: block;
        font-weight: normal;
        /* Force Hardware Acceleration */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        transition: transform 0.4s, -webkit-transform 0.4s;
    }
    .no-touch .us-nav:hover li > span::before,
    .no-touch .us-nav:hover li > span::after,
    .touch .us-nav li:nth-of-type(n) > span::before,
    .touch .us-nav li:nth-of-type(n) > span::after {
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
        /* set a rotation to fix bug on Firefox - http://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/ */
        -moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
    }
    .no-touch .us-nav:hover li > span::after,
    .touch .us-nav li > span::after {
        opacity: 1;
        transition: opacity 0s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0s;
        transition: transform 0.4s, opacity 0s, -webkit-transform 0.4s;
    }
    .no-touch .us-nav:hover span span,
    .touch .us-nav span span {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .us-nav span span::before{
        color: #254ead;
        margin-top: 2px;
        transition: opacity 0s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0s;
        transition: transform 0.4s, opacity 0s, -webkit-transform 0.4s;
    }
    .us-nav li:first-of-type span span::before{
        content: 'Башкы';
    }
    .us-nav li:nth-of-type(2) span span::before{
        content: 'Кызматтар';
    }
    .us-nav li:nth-of-type(3) span span::before{
        content: 'Долбоорлор';
    }
    .us-nav li:nth-of-type(4) span span::before{
        content: 'Өнөктөштөр';
    }
    .us-nav li:nth-of-type(5) span span::before{
        content: 'Байланыш';
    }
}

/* --------------------------------

Navigation trigger - visible on small devices only

-------------------------------- */

.us-nav-trigger {
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(234, 242, 227, 0.9);
    /* reset button style */
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.us-nav-trigger span {
    /* central dot */
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #3a2c41;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 99;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.us-nav-trigger span::before,
.us-nav-trigger span::after {
    /* bottom and top dots */
    content: '';
    position: absolute;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: #3a2c41;
    border-radius: inherit;
}

.us-nav-trigger span::before {
    top: -9px;
}

.us-nav-trigger span::after {
    bottom: -9px;
}

@media only screen and (min-width: 800px) {
    .us-nav-trigger {
        display: none;
    }
}


/*NAVIGATION OPEN*/

.us-nav.open {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-overflow-scrolling: touch;
}
.us-nav.open li span span{
    font-weight: normal;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.us-nav.open li:first-of-type span span::before{
    content: 'Башкы';
}
.us-nav.open li:nth-of-type(2) span span::before{
    content: 'Кызматтар';
}
.us-nav.open li:nth-of-type(3) span span::before{
    content: 'Долбоорлор';
}
.us-nav.open li:nth-of-type(4) span span::before{
    content: 'Өнөктөштөр';
}
.us-nav.open li:nth-of-type(5) span span::before{
    content: 'Байланыш';
}
.us-nav.open + .us-nav-trigger {
    background-color: transparent;
}

.us-nav.open + .us-nav-trigger span {
    background-color: rgba(58, 44, 65, 0);
}

.us-nav.open + .us-nav-trigger span::before,
.us-nav.open + .us-nav-trigger span::after {
    /* transform dots in 'X' icon */
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
}

.us-nav.open + .us-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
}

.us-nav.open + .us-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
}