/* --------------------------------

Fonts

-------------------------------- */

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);*/
@font-face {
    font-family: 'system_fontregular';
    src: url('fonts/sfnsdisplay-regular.eot');
    src: url('fonts/sfnsdisplay-regular.eot?#iefix') format('embedded-opentype'), url('fonts/sfnsdisplay-regular.woff2') format('woff2'), url('fonts/sfnsdisplay-regular.woff') format('woff'), url('fonts/sfnsdisplay-regular.ttf') format('truetype'), url('fonts/sfnsdisplay-regular.svg#system_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* --------------------------------

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
    color: #eaf2e3;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html.fsvs {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

html.fsvs #fsvs-body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

html.fsvs #fsvs-body > * {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

a {
    color: #c0a672;
    text-decoration: none;
}

.us-image-replace {
    /* replace text with image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.hidden{
    display: none !important;
}

/* --------------------------------

Logo Wrapper

-------------------------------- */

header{
    position: fixed;
    height: 8rem;
    width: 100%;
    z-index: 99;
}


.us-logo {
    display: block;
    width: 100%;
    height: inherit;
    text-align: center;
    transition: opacity 0.4s ease;
}

.us-logo img {
    height: 50px;
    width: auto;
    margin-top: 1.5rem;
}

.active-slide-5 .us-logo {
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    header{
        height: 12rem;
    }
    .us-logo {
        padding: 0 9rem;
        text-align: left;
    }
    .us-logo img {
        margin-top: 2rem;
        height: 80px;
    }
}


/* --------------------------------

Content Sections - basic style

-------------------------------- */

.us-section {
    /* vertically align its content*/
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
}

#section4 .content-wrapper {
    text-align: left;
}

.us-section:nth-of-type(even) {
    background-color: #101524;
}

.us-section .content-wrapper {
    /* vertically align <div> inside <section> */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#section1.us-section {
    background: url('../img/main2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#section1.us-section .content-wrapper {
    /* vertically align inside its parent */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.us-section h1 {
    color: #ffffff;
    font-size: 2.4rem;
}

.us-section h1 b,
.us-section h2 b {
    color: #584c5e;
}

.us-section p {
    margin: 1em 0;
    color: #6d7a97;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
}

.us-intro-content .action-wrapper {
    display: inline-block;
}

.us-intro-content .action-wrapper::after {
    clear: both;
    content: "";
    display: table;
}

.us-intro-content .action-wrapper > * {
    float: left;
}

@media only screen and (min-width: 768px) {
    .us-intro-content h1 {
        font-size: 5.2rem;
        font-weight: 300;
    }
    .us-intro-content p {
        font-size: 1.6rem;
        margin: 1.5em 0 1.9em;
    }
}

.us-btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 1.5em;
    /*-webkit-border-radius: 27px;*/
    /*-moz-border-radius: 27px;*/
    /*border-radius: 27px;*/
}

.us-btn:nth-of-type(2) {
    margin-right: 0;
}

.us-btn.services {
    background-color: #c9d4eb;
    color: #254ead;
}

.us-btn.contacts {
    background-image: linear-gradient(90deg, rgb(109, 153, 255) 25%, rgb(60, 108, 222) 100%);
    background-image: -ms-linear-gradient(left, rgb(109, 153, 255) 25%, rgb(60, 108, 222) 100%);
}

@media only screen and (min-width: 480px) {
    .us-btn {
        padding: 1.2em 1.6em;
    }
}

@media only screen and (min-width: 768px) {
    .us-btn {
        padding: 1.4em 1.8em;
    }
}

.us-intro-content h1,
.us-intro-content h1 span,
.us-intro-content p,
.us-intro-content .us-btn {
    opacity: 0;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.no-cssanimations .us-intro-content h1,
.no-cssanimations .us-intro-content h1 span,
.no-cssanimations .us-intro-content p,
.no-cssanimations .us-intro-content .us-btn {
    opacity: 1;
}


/* --------------------------------

Mask

-------------------------------- */

.mask.us-intro-content h1 {
    position: relative;
    padding-bottom: 10px;
    /* overwrite default style */
    opacity: 1;
    font-weight: 700;
    /* <h1> text is not visible - it is used only as a container for the ::after element */
    color: transparent;
    overflow: hidden;
}

.mask.us-intro-content h1::after {
    /* this is the animated text */
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    -webkit-animation-name: reveal-up;
    animation-name: reveal-up;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.mask.us-intro-content h1 span {
    position: relative;
    display: inline-block;
    opacity: 1;
}

.mask.us-intro-content h1 span::before {
    /* this is the loading bar */
    content: '';
    position: absolute;
    top: calc(100% + 8px);
    left: -1em;
    height: 2px;
    width: calc(100% + 2em);
    background-color: #ffffff;
    -webkit-animation: loading-mask 1s 0.3s both;
    animation: loading-mask 1s 0.3s both;
}

@media only screen and (min-width: 768px) {
    .mask.us-intro-content h1 {
        padding-bottom: 20px;
    }
    .mask.us-intro-content h1 span::before {
        top: calc(100% + 18px);
    }
}

.mask.us-intro-content p {
    position: relative;
    margin: 0;
    padding: 10px 0 0;
    -webkit-animation-name: reveal-down;
    animation-name: reveal-down;
}

@media only screen and (min-width: 768px) {
    .mask.us-intro-content p {
        padding-top: 20px;
    }
}

.mask.us-intro-content h1::after,
.mask.us-intro-content p {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.mask.us-intro-content .action-wrapper {
    overflow: hidden;
}

.mask.us-intro-content .action-wrapper .us-btn {
    opacity: 1;
    margin: 0 0 0 1.5em;
}

.mask.us-intro-content .action-wrapper .us-btn:first-of-type {
    margin-left: 0;
}

@-webkit-keyframes loading-mask {
    0%,
    100% {
        -webkit-transform: scaleX(0);
    }
    40%,
    60% {
        -webkit-transform: scaleX(1);
    }
}

@keyframes loading-mask {
    0%,
    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    40%,
    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@-webkit-keyframes reveal-up {
    0% {
        opacity: 1;
        -webkit-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes reveal-up {
    0% {
        opacity: 1;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes reveal-down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes reveal-down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.us-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 33px;
    height: 18px;
    background: url(../img/icons/sprite.png) no-repeat top left;
    background-position: -72px 0;
}


/* --------------------------------

no-js

-------------------------------- */

.no-js .us-nav-trigger {
    display: none;
}

.no-js .us-vertical-nav {
    position: static;
    height: auto;
    width: 100%;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-js .us-vertical-nav::before {
    display: none;
}

.no-js .us-vertical-nav ul::after {
    clear: both;
    content: "";
    display: table;
}

.no-js .us-vertical-nav li {
    display: inline-block;
    float: left;
}

.no-js .us-vertical-nav a {
    padding: 0 1em;
    margin: 1.5em 1em;
    color: #eaf2e3;
}

.no-js .us-vertical-nav a.active {
    color: #c0a672;
}

.no-js .us-vertical-nav a::after,
.no-js .us-vertical-nav a::before {
    display: none;
}

.no-js .us-vertical-nav .label {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/* --------------------------------

Partners

-------------------------------- */
#section4{

    background: #ffffff;
}
.partners-wrapper{
    position: relative;
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.partners-min{
    position: relative;
    height: 100%;
}
.partners-wrapper .left-inner,
.partners-wrapper .right-inner{
    display: block;
    width: 100%;
}
.partners-wrapper .left-inner{
    background: url("../img/partners.jpg") no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 30%;
    box-shadow: 0px 0px 20px 5px rgba(60,109,222,0.25);
}
.partners-wrapper .right-inner{
    height: 70%;
    display: table;
    padding: 0 1.5rem;
}
.partners-wrapper .right-inner .inner{
    display: table-cell;
    vertical-align: middle;
}
.partners-wrapper ul{
    vertical-align: middle;
    text-align: center;
}
.partners-wrapper li{
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    margin: 0.5rem;
}
.partners-wrapper li span{
    display: block;
    background: #f0f7ff;
    padding: 1rem;
    margin: 0 auto 0.5rem;
    width: 6rem;
    height:6rem;
    border-radius: 6rem;
}
.partners-wrapper li img{
    height: 4rem;
}
.partners-wrapper li h4{
    height: 45px;
    padding: 0;
    color: #3c6cde;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-transform: uppercase;
}

@media(min-width: 1024px){
    .partners-wrapper{
        padding: 0;
    }
    .partners-wrapper .left-inner,
    .partners-wrapper .right-inner{
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
    }
    .partners-wrapper .left-inner{
        left: 0;
    }
    .partners-wrapper .right-inner{
        right: 0;
        padding: 0 9rem;
    }
    .partners-wrapper li{
        width: 30%;
        margin: 1rem;
    }
    .partners-wrapper li span{
        padding: 2rem;
        margin: 0 auto 1rem;
        width: 12rem;
        height:12rem;
        border-radius: 6rem;
    }
    .partners-wrapper li img{
        height: 8rem;
    }
    .partners-wrapper li h4{
        height: 6rem;
        padding: 0 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
/* --------------------------------

xclip

-------------------------------- */

.us-section .us-headline {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    right: 0;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;
}
#section2 .us-headline{
    display: none;
}

@media only screen and (min-width: 1024px) {
    .us-section .us-headline {
        font-size: 2rem;
        width: auto;
        top: 3rem;
        right: 12rem;
    }
    #section2 .us-headline{
        display: block;
    }
}

.us-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.us-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    color: #3c6cde;
}
#section2 .us-words-wrapper b{
    color: #ffffff;
}

.us-words-wrapper b.is-visible {
    position: relative;
    color: #3c6cde;
}
#section2 .us-words-wrapper b.is-visible{
    color: #ffffff;
}

.no-js .us-words-wrapper b {
    opacity: 0;
}

.no-js .us-words-wrapper b.is-visible {
    opacity: 1;
}

.us-headline.clip span {
    display: inline-block;
    color: #7c99d6;
}

.us-headline.clip .us-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.us-headline.clip .us-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #3c6cde;
}
#section2 .us-headline.clip .us-words-wrapper::after{
    background-color: #ffffff;
}
.us-headline.clip b {
    opacity: 0;
}

.us-headline.clip b.is-visible {
    opacity: 1;
}


/*Map*/

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.my-icon {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.icon-us {
    position: relative;
    height: 24px;
    background: transparent;
    text-align: center;
}

.icon-us i {
    position: absolute;
    top: -40px;
    height: 36px;
    width: 36px;
    display: block;
    background: url("../img/icons/us-icon-marker.svg") no-repeat center;
}

.icon-us img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 24px;
    width: auto;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.footer {
    position: absolute;
    z-index: 1001;
    bottom: 0;
    padding: 0 1rem;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(237, 243, 255, 1)));
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(237, 243, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf3ff', GradientType=1);
}

.footer-left,
.footer-right {
    display: block;
    float: none;
    height: 10rem;
    margin-bottom: 1rem;
}

.footer-right {
    height: auto;
    padding-bottom: 3rem;
}

.footer p {
    position: relative;
    margin: 0 0 1rem;
    padding: 3rem 0 1rem;
    color: #254ead;
    font-size: 14px;
    line-height: 20px;
}

.footer p::before {
    content: attr(data-before);
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    color: #7c99d6;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}
.footer-left .logo,
.us-links {
    display: block;
}

.footer-left {
    padding: 2rem 0;
}

.footer-left .logo{
    margin-bottom: 1rem;
}

.us-links ul {
    padding: 0 50px;
    text-align: center;
}

.us-links li {
    display: inline-block;
    vertical-align: middle;
}

.us-links li a {
    padding: 0 10px;
    color: #ff536d;
    font-size: 20px;
    line-height: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.us-links li a:hover {
    color: #FF8392;
}
.us-links li .us-usb {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.us-links .fa-circle,
.us-links a {
    display: inline-block;
    vertical-align: middle;
}

.us-links .fa-circle {
    color: #ff536d;
    font-size: 6px;
}

.footer-left img {
    height: 40px;
    width: auto;
}

.footer-right p {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-right p:last-child::after {
    display: none;
}

@media (min-width: 1024px){
    .footer{
        padding: 0 9rem;
    }
    .footer-left {
        float: left;
        padding: 3rem 0;
        margin-bottom: 0;
    }
    .footer-left .logo,
    .us-links {
        display: inline-block;
        vertical-align: middle;
    }
    .footer-left .logo{
        margin: 0;
    }
    .footer-right{
        float: right;
        height: 10rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .footer p{
        margin: 0;
        padding: 5rem 1rem 3rem;
        box-shadow: inset 5px 0px 10px 0px rgba(61, 109, 223, 0.15);
    }
    .footer p::before{
        top: 3rem;
    }
}
